# Handling Missing Data

Multiple approaches exist for handling missing data. This section covers some of them along with their benefits and drawbacks

Since the dataset does not have any missing values,  we will use a subset of the data (100 rows) and then manually introduce missing values.

In [1]:
import pandas as pd
import numpy as np

In [3]:
sample_customer_data = pd.read_csv("CustomerChurn.csv",  nrows=100)
sample_customer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        100 non-null    object
 1   gender            100 non-null    object
 2   SeniorCitizen     100 non-null    int64
 3   Partner           100 non-null    object
 4   Dependents        100 non-null    object
 5   tenure            100 non-null    int64
 6   PhoneService      100 non-null    object
 7   MultipleLines     100 non-null    object
 8   InternetService   100 non-null    object
 9   OnlineSecurity    100 non-null    object
 10  OnlineBackup      100 non-null    object
 11  DeviceProtection  100 non-null    object
 12  TechSupport       100 non-null    object
 13  StreamingTV       100 non-null    object
 14  StreamingMovies   100 non-null    object
 15  Contract          100 non-null    object
 16  PaperlessBilling  100 non-null    object
 17  PaymentMethod     100 non-null    object
 18  MonthlyCharges    100 non-null    float64
 19  TotalCharges      100 non-null    float64
 20  Churn             100 non-null    object
dtypes: float64(2), int64(2), object(17)
memory usage: 16.5+ KB

In [5]:
import numpy as np
def introduce_nan(x,percentage):
    n = int(len(x)*(percentage - x.isna().mean()))
    idxs = np.random.choice(len(x), max(n,0), replace=False, p=x.notna()/x.notna().sum())
    x.iloc[idxs] = np.nan

In [6]:
sample_customer_data.apply(introduce_nan, percentage=.5)
sample_customer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        50 non-null     object
 1   gender            50 non-null     object
 2   SeniorCitizen     50 non-null     float64
 3   Partner           50 non-null     object
 4   Dependents        50 non-null     object
 5   tenure            50 non-null     float64
 6   PhoneService      50 non-null     object
 7   MultipleLines     50 non-null     object
 8   InternetService   50 non-null     object
 9   OnlineSecurity    50 non-null     object
 10  OnlineBackup      50 non-null     object
 11  DeviceProtection  50 non-null     object
 12  TechSupport       50 non-null     object
 13  StreamingTV       50 non-null     object
 14  StreamingMovies   50 non-null     object
 15  Contract          50 non-null     object
 16  PaperlessBilling  50 non-null     object
 17  PaymentMethod     50 non-null     object
 18  MonthlyCharges    50 non-null     float64
 19  TotalCharges      50 non-null     float64
 20  Churn             50 non-null     object
dtypes: float64(4), object(17)
memory usage: 16.5+ KB

In [7]:
sample_customer_data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0.0,NaN,NaN,NaN,NaN,NaN,DSL,NaN,...,NaN,No,No,No,Month-to-month,Yes,Electronic check,29.85,NaN,No
1,NaN,Male,0.0,NaN,NaN,NaN,Yes,No,NaN,NaN,...,Yes,No,No,NaN,One year,NaN,Mailed check,56.95,1889.50,NaN
2,NaN,Male,0.0,No,NaN,2.0,NaN,No,NaN,Yes,...,NaN,No,NaN,NaN,Month-to-month,NaN,NaN,53.85,NaN,Yes
3,7795-CFOCW,Male,NaN,No,NaN,45.0,NaN,NaN,NaN,Yes,...,NaN,Yes,No,NaN,NaN,NaN,Bank transfer (automatic),NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,No,2.0,Yes,NaN,Fiber optic,NaN,...,No,No,NaN,No,NaN,NaN,Electronic check,70.70,151.65,NaN

# Data Dropping

Using the dropna() function is the easiest way to remove observations or features with missing values from the dataframe. Below are some techniques. 

1) Drop observations with missing values

    These three scenarios can happen when trying to remove observations from a data set:

    dropna(): drops all the rows with missing values.

2) Drop observations using the default dropna() function

    We can see that all the observations are dropped from the dataset, which can be especially dangerous for the rest of the analysis. 

    dropna(how = ‘all’): the rows where all the column values are missing

3) Drop observations using the “all” strategy

    dropna(thresh = minimum_value): drop rows based on a threshold. This strategy sets a minimum number of missing values required to preserve the rows.

4) Drop columns with missing values

    The parameter axis = 1 can be used to explicitly specify we are interested in columns rather than rows. 
    dropna(axis = 1): drops all the columns with missing values.

## Pros

    Straightforward and simple to use.
    Beneficial when missing values have no importance. 

## Cons

    Using this approach can lead to information loss, which can introduce bias to the final dataset.

    This is not appropriate when the data is not missing completely at random.
    Data set with a large proportion of missing value can be significantly  decreased, which can impact the result of all statistical analysis on that data set.

In [8]:
drop_na_strategy = sample_customer_data.dropna()
drop_na_strategy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        0 non-null      object
 1   gender            0 non-null      object
 2   SeniorCitizen     0 non-null      float64
 3   Partner           0 non-null      object
 4   Dependents        0 non-null      object
 5   tenure            0 non-null      float64
 6   PhoneService      0 non-null      object
 7   MultipleLines     0 non-null      object
 8   InternetService   0 non-null      object
 9   OnlineSecurity    0 non-null      object
 10  OnlineBackup      0 non-null      object
 11  DeviceProtection  0 non-null      object
 12  TechSupport       0 non-null      object
 13  StreamingTV       0 non-null      object
 14  StreamingMovies   0 non-null      object
 15  Contract          0 non-null      object
 16  PaperlessBilling  0 non-null      object
 17  PaymentMethod     0 non-null      object
 18  MonthlyCharges    0 non-null      float64
 19  TotalCharges      0 non-null      float64
 20  Churn             0 non-null      object
dtypes: float64(4), object(17)
memory usage: 0.0+ bytes

In [9]:
drop_na_all_strategy = sample_customer_data.dropna(how="all")
drop_na_all_strategy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        50 non-null     object
 1   gender            50 non-null     object
 2   SeniorCitizen     50 non-null     float64
 3   Partner           50 non-null     object
 4   Dependents        50 non-null     object
 5   tenure            50 non-null     float64
 6   PhoneService      50 non-null     object
 7   MultipleLines     50 non-null     object
 8   InternetService   50 non-null     object
 9   OnlineSecurity    50 non-null     object
 10  OnlineBackup      50 non-null     object
 11  DeviceProtection  50 non-null     object
 12  TechSupport       50 non-null     object
 13  StreamingTV       50 non-null     object
 14  StreamingMovies   50 non-null     object
 15  Contract          50 non-null     object
 16  PaperlessBilling  50 non-null     object
 17  PaymentMethod     50 non-null     object
 18  MonthlyCharges    50 non-null     float64
 19  TotalCharges      50 non-null     float64
 20  Churn             50 non-null     object
dtypes: float64(4), object(17)
memory usage: 16.5+ KB

In [10]:
drop_na_thres_strategy = sample_customer_data.dropna(thresh=0.6)
drop_na_thres_strategy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        50 non-null     object
 1   gender            50 non-null     object
 2   SeniorCitizen     50 non-null     float64
 3   Partner           50 non-null     object
 4   Dependents        50 non-null     object
 5   tenure            50 non-null     float64
 6   PhoneService      50 non-null     object
 7   MultipleLines     50 non-null     object
 8   InternetService   50 non-null     object
 9   OnlineSecurity    50 non-null     object
 10  OnlineBackup      50 non-null     object
 11  DeviceProtection  50 non-null     object
 12  TechSupport       50 non-null     object
 13  StreamingTV       50 non-null     object
 14  StreamingMovies   50 non-null     object
 15  Contract          50 non-null     object
 16  PaperlessBilling  50 non-null     object
 17  PaymentMethod     50 non-null     object
 18  MonthlyCharges    50 non-null     float64
 19  TotalCharges      50 non-null     float64
 20  Churn             50 non-null     object
dtypes: float64(4), object(17)
memory usage: 16.5+ KB

In [11]:
drop_na_cols_strategy = sample_customer_data.dropna(axis=1)
drop_na_cols_strategy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Empty DataFrame

# Mean/Median Imputation

These replacement strategies  are self-explanatory. Mean and median imputations are respectively used to replace missing values of a given column with the mean and median of the non-missing values in that column. 

Normal distribution is the ideal scenario. Unfortunately, it is not always the case. This is where the median imputation can be helpful because it is not sensitive to outliers.

In Python, the fillna() function from pandas can be used to make these replacements

## Pros

    Simplicity and ease of implementation are some of the benefits of the mean and median imputation.
    The imputation is performed using the existing information from the non-missing data; hence no additional data is required.
    Mean and median imputation can provide a good estimate of the missing values, respectively for normally distributed data, and skewed data.

## Cons

    We cannot apply these two strategies to categorical columns. They can only work for numerical ones.
    Mean imputation is sensitive to outliers and may not be a good representation of the central tendency of the data. Similarly to the mean, the median also may not better represent the central tendency.
    Median imputation makes the assumption that the data is missing completely at random (MCAR), which is not always true.

In [17]:
mean_value = sample_customer_data.mean()
mean_value

C:\Users\rajgu\AppData\Local\Temp\ipykernel_23156\1706152299.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  mean_value = sample_customer_data.mean()

SeniorCitizen        0.140
tenure              30.920
MonthlyCharges      64.113
TotalCharges      2493.563
dtype: float64

In [18]:
mean_imputation = sample_customer_data.fillna(mean_value)

In [15]:
mean_imputation.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0.00,NaN,NaN,30.92,NaN,NaN,DSL,NaN,...,NaN,No,No,No,Month-to-month,Yes,Electronic check,29.850,2493.563,No
1,NaN,Male,0.00,NaN,NaN,30.92,Yes,No,NaN,NaN,...,Yes,No,No,NaN,One year,NaN,Mailed check,56.950,1889.500,NaN
2,NaN,Male,0.00,No,NaN,2.00,NaN,No,NaN,Yes,...,NaN,No,NaN,NaN,Month-to-month,NaN,NaN,53.850,2493.563,Yes
3,7795-CFOCW,Male,0.14,No,NaN,45.00,NaN,NaN,NaN,Yes,...,NaN,Yes,No,NaN,NaN,NaN,Bank transfer (automatic),64.113,2493.563,NaN
4,NaN,NaN,0.14,NaN,No,2.00,Yes,NaN,Fiber optic,NaN,...,No,No,NaN,No,NaN,NaN,Electronic check,70.700,151.650,NaN

In [21]:
median_value = sample_customer_data.median()
median_value

C:\Users\rajgu\AppData\Local\Temp\ipykernel_23156\3055715471.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  median_value = sample_customer_data.median()

SeniorCitizen        0.000
tenure              26.000
MonthlyCharges      65.425
TotalCharges      1318.900
dtype: float64

In [22]:
median_imputation = sample_customer_data.fillna(median_value)

In [23]:
median_imputation.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0.0,NaN,NaN,26.0,NaN,NaN,DSL,NaN,...,NaN,No,No,No,Month-to-month,Yes,Electronic check,29.850,1318.90,No
1,NaN,Male,0.0,NaN,NaN,26.0,Yes,No,NaN,NaN,...,Yes,No,No,NaN,One year,NaN,Mailed check,56.950,1889.50,NaN
2,NaN,Male,0.0,No,NaN,2.0,NaN,No,NaN,Yes,...,NaN,No,NaN,NaN,Month-to-month,NaN,NaN,53.850,1318.90,Yes
3,7795-CFOCW,Male,0.0,No,NaN,45.0,NaN,NaN,NaN,Yes,...,NaN,Yes,No,NaN,NaN,NaN,Bank transfer (automatic),65.425,1318.90,NaN
4,NaN,NaN,0.0,NaN,No,2.0,Yes,NaN,Fiber optic,NaN,...,No,No,NaN,No,NaN,NaN,Electronic check,70.700,151.65,NaN

## Random Sample Imputation

The idea behind the random sample imputation is different from the previous ones and involves additional steps. 

    First, it starts by creating two subsets from the original data. 
    The first subset contains all the observations without missing data, and the second one contains those with missing data. 
    Then, it randomly selects from each subset a random observation.
    Furthermore, the missing data from the previously selected observation is replaced with the existing ones from the observation having all the data available.
    Finally, the process continues until there is no more missing information.

In [28]:
import numpy as np

def random_sample_imputation(df):
    cols_with_missing_values = df.columns[df.isna().any()].tolist()

    for var in cols_with_missing_values:
        # Extract a random sample
        random_sample_df = df[var].dropna().sample(df[var].isnull().sum(), random_state=0)
        
        # Re-index the randomly extracted sample
        random_sample_df.index = df[df[var].isnull()].index
        
        # Replace the NA
        df.loc[df[var].isnull(), var] = random_sample_df
    
    return df

In [29]:
df = sample_customer_data.copy()
random_sample_imp_df = random_sample_imputation(sample_customer_data)
random_sample_imp_df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0.0,No,No,8.0,No,Yes,DSL,Yes,...,No internet service,No,No,No,Month-to-month,Yes,Electronic check,29.85,7853.70,No
1,8769-KKTPH,Male,0.0,No,No,21.0,Yes,No,DSL,Yes,...,Yes,No,No,Yes,One year,Yes,Mailed check,56.95,1889.50,No
2,3638-WEABW,Male,0.0,No,Yes,2.0,Yes,No,DSL,Yes,...,Yes,No,Yes,No,Month-to-month,Yes,Credit card (automatic),53.85,7251.70,Yes
3,7795-CFOCW,Male,1.0,No,No,45.0,Yes,No,DSL,Yes,...,No,Yes,No,No internet service,One year,Yes,Bank transfer (automatic),107.50,1093.10,No
4,1680-VDCWW,Female,0.0,No,No,2.0,Yes,No,Fiber optic,Yes,...,No,No,Yes,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

## Pros

    This is an easy and straightforward technique.
    It tackles both numerical and categorical data types.
    There is less distortion in data variance, and it also preserves the original distribution of the data, which is not the case for mean, median, and more

## Cons

    The randomness does not necessarily work for every situation, and this can infuse noise in the data, hence leading to incorrect statistical conclusions. 
    Similarly to the mean and median, this approach also assumes that the data is missing completely at random (MCAR).